[submodule "matrix"]
	path = matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "fltk"]
	path = fltk
	url = https://github.com/fltk/fltk.git
